/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end meyers reset */

body{
  line-height: 1;
  background-image: url('https://i.pinimg.com/originals/a1/f4/00/a1f400361e5370a73e9bf22c4ef49a33.png'); 
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  font-size: 130px;
  text-align: center;
  color: rgb(174, 187, 205);
  -webkit-text-stroke: 2px black; 
}

.show{
  bottom: 170px;
  position: relative;
  overflow: hidden;
  width: 200px;
}

.invisible{
  position: absolute;
  display: none;
}

.containerContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  list-style: none;
  padding-top: 40px;
  margin-left: 30px;  
}

.cardContainer{
  border: 10px ridge rgb(185, 198, 216);
  height: auto;
  position: relative;
  height: 300px;
  overflow: hidden;
  width: 220px;
  margin: 50px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-35px);
		-ms-transform:     translateY(-35px);
		transform:         translateY(-35px)
	}
}

.cardContainer:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}